parameters:
  level: 6
  paths:
    - src
    - i18n-command.php
  scanDirectories:
    - vendor/wp-cli/wp-cli/php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - tests/phpstan/scan-files.php

  treatPhpDocTypesAsCertain: false

  stubFiles:
    - stubs/Gettext.stub
